// Place all the styles related to the Residents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box a {
  float: right;
  color: $orange;
}

.box {
  background-color: $white;
  border-radius: 7px;
  border: 1px solid $gray;
  padding: 10px;
  margin-bottom: 20px;
  width: 400px;
}

.box h3, a {
  display: inline-block;
}

.box h3 {
  margin-top: 0;
}
